html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #19222b;
	position: relative;
}
/* scrolbar settings */
::-webkit-scrollbar {
    width: 5px;
}
/* scrollbar track and color */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #00aeef;; 
    border-radius: 20px;
}
/* scrollbar background and border */
::-webkit-scrollbar-thumb {
    background-color: #00aeef;;
    border-radius: 10px;
}


/* Mobile menu settings display */
.mobile-menu-holder{
    display: none;
}


/* Header,menu,login styling */
.flex-container{
    display: flex;
    flex-direction: column;
}
.uzer{
    display:flex;
    flex-direction:column;
    align-items: center; 
    justify-content: center;
}
header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    width: 20%;
    align-self: flex-start
}
.kmzxcj{
    display:flex;
    flex-direction:row;
    justify-content:
    space-between;
}
.kmzxcj > a {
    padding: 5px 20px;
    color: white;
    transition: 0.2s ease-in-out;
}
.kmzxcj > a.selected-btn{
    border-bottom: 2px solid transparent;
    color: #00aeef;
    border-image: -webkit-gradient(linear,100% 0,0 0,from(transparent),to(transparent),color-stop(50%,#00aeef)) 100% 1;
}
.kmzxcj > a:hover{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #00aeef;
    background: none;
    border-width: 0 0 2px;
    border-image: -webkit-gradient(linear,100% 0,0 0,from(transparent),to(transparent),color-stop(50%,#00aeef)) 100% 1;
}
form > input:nth-child(1), form > input:nth-child(2){
    border-radius: 5px;
    background-color: #1e1d1f;
    height: 26px;
    line-height: 26px;
    border: none;
    color: white;
    padding: 10px;
    margin: 0px 2px;
    width: 33.33%;
}
form > input:nth-child(3) {
    background-color: #00aeef;
    padding: 3px 15px;
    border: none;
    color: white;
    border-radius: 6px;
    margin: 0px 2px;
}
.lost-pw{
    margin-top: 5px;
    text-decoration: none;
    color: #00aeef;
    font-size: 10px
}
.lost-pw:hover{
    text-decoration: none;
    color: #00aeef;
}


/* Sorting line styling */
.styledrop{
    background-color: #222E39;
}
.styledrop > li > a {
    color: white;
}
.sorting-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    height: 32px;
    border-bottom: 5px solid black
}
.dropdowns{
    text-align: center;
    background-color: transparent;
    border: none;
    color: #9299a0;
    margin: 0px 10px;
}
.dropdowns:hover, .zxcnasd:hover{
    transition: 0.2s ease-in-out;
    color: #00aeef;
    cursor: pointer;
}
.dropdown-menu > li > a:hover{
    transition: 0.5s ease-in-out;
    color: white;
    background-color: #00aeef;
}


/* Left content styling */
.left-content{
    margin-left: 0.3%;
    width: 15%;
    height: 82vh;
    overflow-y: scroll;
    padding: 2px 3px;
}
.left-content-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #00aeef;
    border-left: 5px solid #00aeef;
    font-weight: bold;
    width: 100%;
    height: 40px;
    background: #12191f;
    transition: all .3s ease;
    height: 116px;
}
.outrights{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 40px;
    transition: all .3s ease;
    height: 116px;
    
}
div.left-content > a >div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
    height: 40px;
    transition: all .3s ease;
    height: 116px;
}
div.left-content > a >img{
    padding: 36px 45px;
}
div.left-content > a{
    margin-bottom: 2px;
}
div.left-content > a:hover{
    text-decoration: none;
}
div.left-content > a > div:hover, div.left-content > a > img:hover{
    transition: 0.3s ease-in-out;
    border-left: 5px solid #00aeef;
    background: #12191f;
    color: #00aeef;
}


/* Mid content styling */
.mid-content{
    width:64%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    height: 82vh;
    background-color: #111618;
    overflow-y: scroll;
}
.match-holder{
    display:flex;
    flex-direction:column;
    color: white;
    overflow-y: scroll;
}
.zlasxk, .m10zo{
    display:flex;
    flex-direction:row;
    line-height: 35px;
    background-color: #222e39;
    padding-left: 10px;
}
.m10zo{
    background-color: #19222B;
}
.m1ka{
    display:flex;
    flex-direction:row;
    flex:6;
}
.lyqjz{
    display:flex;
    flex-direction:row;
    flex: 4;
    text-align:center;
}
.yzmqnos{
    flex: 1;
    padding: 1px;
}
.ftreq{
    border: 1px solid #00aeef;
    padding:1px 3px;
    color: #00aeef;
}
.iogqi{
    text-align: center;
     background-color: #19222B;
}
.zaq12s{
    display:flex;
    flex-direction:row;
    justify-content: space-around; 
    background-color: #12191f;
    align-items:center;
}
.zaq12s > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    border-left: 1px solid #222e39;
    height: 100%;
    color: #fffd77;
}
.zaq12s > div:hover, .oiozi:hover{
    border:1px solid #00aeef;
    color: #00aeef;
    cursor: pointer;
}
.oiozi{
    border-left: 1px solid #222e39;
    background-color: #12191f;
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Right content styling */
.right-content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 22%;
    height: 82vh;
}
.zxckaq{
    padding:10px;
    color: white;
}
.zkaq{
    background-color:#255980;
    font-size:20px; 
    padding: 5px 10px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: white;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs>li.active>a{
    background-color: transparent;
    color: #00aeef;
    border-width: 0 0 2px;
    border-image: -webkit-gradient(linear,100% 0,0 0,from(transparent),to(transparent),color-stop(50%,#00aeef)) 100% 1;
}
.nav-tabs>li>a{
    color: grey;
}
.nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{
    transition: 0.3s ease-in-out;
    color: #00aeef;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-width: 0 0 2px;
    border-image: -webkit-gradient(linear,100% 0,0 0,from(transparent),to(transparent),color-stop(50%,#00aeef)) 100% 1;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #00aeef;
    border: none;
    background-color: transparent;
}
.zaqwer{
    background-color: transparent;
}
.zqqweasd{
    display:flex;
    flex-direction:column;
    color:grey;
}
.zqqweasd > div{
    padding : 5px 10px;
}
.z1ksj1js{
    color: #00aeef;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lockhold{
    display:flex;
    align-items:center;
    justify-content:center;
    flex: 0 0 30%;
    padding: 5px 0px;
    border: 1px solid;
    color: #00aeef;
}
.nmbinput{
    padding: 2px 5px;
    border: 1px solid #ccc;
    color: #c4cdd6;
    border-radius: 4px;
    max-width: 100px;
}
.nbmholder{display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:white;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.warning{
    padding: 5px 10px;
    color: #fff;
    background-color: #fd0f26;
    text-align: center;
}
.zeqsn{
    margin-top: 15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.zqebr:nth-child(1){
    background: none;
    border: 1px solid #00aeef;
    color: #00aeef;
    margin-bottom: 5px;
    width: 90%;
    padding: 5px 0px;
    border-radius: 6px;
    cursor: pointer;
}
.zqebr:nth-child(2){
    cursor: pointer;
    background: none;
    border: 1px solid white;
    color: white;
    margin-bottom: 5px;
    width: 90%;
    padding: 5px 0px;
    border-radius: 6px;
}
.imagezs{
    height: 80px;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
}
.azbv{
    background-color:#255980;
    font-size:18px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    color: white;
}
.azbv > div:nth-child(2){
    font-weight: bold;
}
.coefrow{
    display: flex;
    flex-direction: row;
    color: white;
    padding: 5px 0px;
    border: 1px solid transparent;
    border-bottom: 1px solid gray;
}
.coefrow:hover{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 1px #00aeef;
    border: 1px solid #00aeef;
}
.coefrow > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.coefrow > div{
    display: flex;
    justify-content: center;
}
.coefrow > div:nth-child(2){
    color: #fffd77;
}


/* Version styling */
@media (max-width:1280px) {
     .left-content, .right-content, .uzer{
        display: none;
    }
    header{
        flex-direction: column;
    }
    .mid-content{
        flex: 0 0 100%;
    }
    .mobile-menu-holder{
        display: flex;
        flex: 1;
        padding: 0px 20px;
        width: 100%;
        justify-content: space-between;
    }
    .mobile-menu, .betslip{
        font-size:30px;
        color: white;
        position: relative;
    }
    .mobile-menu > span:nth-child(2), .betslip > span:nth-child(2){
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        position: absolute;
    }
    .mobile-menu > span:nth-child(2){
        top: 30px;
        left: -1px;
    }
    .betslip > span:nth-child(2){
        top:30px;
        right: -14px;
    }
}