.mid-content{
    width: 80%;
}


/* Multi view styling */
.multiview-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #222e39;
    height: 42px;
    color: white;
    font-size: 17px;
}
.multiview-holder > div{
    transition: 0.3s ease-in-out;
    padding: 0px 30px;
}
.multiview-holder > div:hover, .active-view{
    cursor: pointer;
    color: #00aeef;
}


/* sports holder styling */
.sports-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #12191F;
}
/* active element */
.sports-holder > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 4px;
    font-size: 22px;
    color: white;
    background: #00CB91;
    border-bottom: none;
}
.sports-holder > div{
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #222e39;
    margin-right: 4px;
    border-bottom: 4px solid #8cd799;
    flex: 1;
}
.sports-holder > div:hover{
    box-shadow: 0px 0px 10px #222e39;
    background-color: #19222B;
    cursor: pointer;
}
.sport-imgs{
    width: 50px;
}


/* Matches holder */
.match-holder{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: auto;
}
.soccer{
    line-height: 34px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.soccer > div:nth-child(1), .soccer > div:nth-child(2), .soccer > div:nth-child(3)  {
    background-color: #255980;
    padding: 0px 10px;
}
.soccer > div:nth-child(2), .soccer > div:nth-child(3) {
    background-color: #2E3E4B;
}
.soccer > div:nth-child(3) {
    font-size: 17px;
}


/* Column holder */
.col-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #12191f;
}
.col-holder > div:nth-child(1){
    flex: 0 0 35%;
}
.col-holder > div:nth-child(2){
    flex: 0 0 65%;
    background-color: #2E3E4B;
}
/* lLft side */
.left-side{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #12191f;
}
.left-side > div{
    flex: 1;
    background: #222E39;
}
.left-text122 > div, .mid-text122 > div{
    margin: 3px 0px;
}
.left-text122, .mid-text122{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.right-text122{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Right side */
.right-side{
    display: flex;
    flex-direction: column;
}
.row1{
    display: flex;
    flex-direction: row;
    height: 32px;
    font-size: 12px;
    background: #19222B;
    align-items: center;
    text-align: center;
}
.row1 > div:nth-child(1), .row1 > div:nth-child(2), .row1 > div:nth-child(3),
.row2 > div:nth-child(1), .row2 > div:nth-child(2), .row2 > div:nth-child(3){
    flex: 4;
    justify-content: center;
    align-items: center;
}
.row2 > div:nth-child(1), .row2 > div:nth-child(2), .row2 > div:nth-child(3){
    border-right: 1px solid #222e39;
    border-bottom: 1px solid #222e39;
}
.row1 > div:nth-child(4), .row2 > div:nth-child(4) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row2{
    display: flex;
    flex-direction: row;
    background-color: #12191f;
    border: 1px solid transparent;
}
.row2col1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    height: 34px;
}
.row2col1 > div, .row2col2 > div{
    flex: 1;
    color: #434343;
}
.col-white > div{
    color: white;
}
.row2col1:hover, .row2 > div:nth-child(1):hover, .row2 > div:nth-child(3):hover{
    cursor: not-allowed;
    /* box-shadow: 0 0 1px #00aeef; */
    border: 1px solid #00aeef;
    border-right: 1px solid #00aeef;
    border-bottom: 1px solid #00aeef;
}

.col-white:hover{
    cursor: pointer;
}
.col-white > div:nth-child(2){
    color: #fffd77;
}

/* Version styling */
@media (max-width: 1280px) {
    .sorting-line{
        justify-content: space-between;
    }
}
.row2col2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    height: 34px;
}
.row2col2 > div:nth-child(1) {
    color: white;
}
.row2col2 > div:nth-child(2) {
    color: #fffd77;
}
div.row2col2:hover{
    cursor: pointer;
    /* box-shadow: 0 0 1px #00aeef; */
    border: 1px solid #00aeef;
}
div.emptyfields:hover{
    cursor: not-allowed;
}
.row2col1:hover, .row2 > div:nth-child(1).enabled:hover {
    cursor: pointer;
}