body{
    background-color: black;
}

/* Multiview button styling */
.multiview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #111618;
    margin-bottom: 10px;
}
.multiview > div{
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 30px;
    transition: 0.3s ease-in-out;
}
.multiview > div:nth-child(1){
    color: #9ae200;
}
.multiview > div:hover{
    color: #9ae200;
    cursor: pointer;
}

/* Left content styling */
.left-content{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    width: 17.5%;
}
.mid-content{
    margin: 0px 5px;
}


.btn-1, .btn-2 {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    background-color: #024642;
}
.content-1, .content-2{
    background-color: #0e2a2c;
    padding: 5px 10px;
}
.content-1 div , .content-2  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-1, .btn-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-1 > div > span:nth-child(1), .btn-2 > div > span:nth-child(1){
    margin-right: 12px;
}

/* Mid content settings */
.slideshow, .match-result{
    display: none;
}
.video-holder{
    flex: 0 0 100%;
    background: url(https://fusion.bet/dist/esports.png);
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
iframe{
    width: 100%;
    height: 100%;
}
.video{
    flex: 0 0 100%;
    width: 100%;
    height: 350px;
}
div.matches-title-holder, .matches-holder{
    display: flex;
}
.title{
    border-bottom: 1px solid #9ae200;
    text-align: center;
    font-size: 26px;
    color: #9ae200;
    text-shadow: 1px 0 50px #98e119;
}
#available-types{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#available-types > div {
    font-size: 26px;
    color: #9ae200;
    text-shadow: 1px 0 50px #98e119;
}
