.mid-content{
    flex-direction: column;
    padding-top: 2px;
    display: block;
}


/* time buttons styling */
.time-btns-holder{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.time-btns{
    padding: 15px 0px;
    color: white;
    flex: 1;
    background-color: transparent;
    text-align: center;
    transition: 0.3s ease-in-out;
    align-items: center;
}
.selected-time-btn{
    box-shadow: 0 0 1px #9ae200;
    color: #9ae200;
    background-color: #0d3231;
}
.time-btns:hover, .selected-time-btn:hover{
    transition: 0.3s ease-in-out;
   text-decoration: none;
   box-shadow: 0 0 1px #9ae200;
   color: #9ae200;
   background-color: #0d3231;
}


/* Sorting line  styling */
.sorting-line-holder{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
    background-color: #024642;
    line-height: 30px;
    margin-top: 1px;
}
.sorting-line > div:hover{
    transition: 0.3s ease-in-out;
    color: #9ae200;
    cursor: pointer;
}


/* Matches table styling */
.matches-table-holder{
    display: flex;
    flex-direction: column;
    color: white;
}
.match-info-holder{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #101115;
    padding: 2px 15px;
}
.match-info-holder > div{
    display: flex;
    flex: 1;
    align-items: center;
}

.pkiaj{
    margin-left: 2%;
}
.pkj12:hover, .pkiaj:hover{
    transition: 0.3s ease-in-out;
    color: #9ae200;
    cursor: pointer;
}
.gh1{
    margin: 0% 3%;
}
.akj12{
    display:flex;
    justify-content:space-between;
}
.akj12 > .redbg, .greenbg, .bgj16{
    flex: 1;
    text-align: center;
}
.redbg{
    background-color: rgba(255,73,73,.5);
    border: 1px solid rgba(255,73,73,.5);;
    border-radius: 5px;
    padding: 2px;
    color: #fff;
    margin: 5px;
    text-align: center;
    flex: 1;
}
.greenbg{
    flex: 1;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
    color: #fff;
    margin: 5px;
    text-align: center;
    border-color: #7d9a44;
    background-color: rgba(154,226,0,.6);
}
.blackbg{
    border: 1px solid gray;
    flex: 1;
    border-radius: 5px;
    padding: 2px;
    color: white;
    margin: 5px;
    text-align: center;
}

/* footer styling */
footer{
    display: flex;
    flex-direction: column;
    background-color: #0d0f10;
    padding: 20px 0px;
}
.sakdk1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}
.uykkd{
    display: flex;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.uykkd > img{
    padding: 0px 15px;
}
.yzhsh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #111618;
    border-top: 1px solid #111618;;
}
.yzhsh > a {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.yzhsh > p{
    font-size: 14px;
    text-align: center;
    color: gray;
    margin: 10px 0px;
}
.mnzxc{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.mnzxc > a{
    text-decoration: none;
    color: gray;
}
.mnzxc > a:hover{
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #9ae200;
}

@media (max-width: 1280px) {
    .time-btns{
        padding: 20px 0px;
    }
}