.left-content{
    width: 18%;
    padding: 0px;
    line-height: 22px;
}
.mid-content{
    width: 60%;
    background: black;
    padding-top: 5px;
    background-color: #111618;
    display: flex;
    flex-direction: column;
    display: block;
}
.match-holder{
    overflow-y: scroll;
}
.left-btns-holder{
    display: flex;
    flex-direction: column;
    color: white;
}
.left-btns-holder > div{
    padding: 8px;
}
.item1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.item1 > div {
    display: flex;
    justify-content: center;
    flex: 1;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.item1 > div:hover{
    cursor: pointer;
    color: #00aeef;
}
.current{
    color: #00aeef;
    background: none;
    border-width: 0 0 2px;
    border-image: -webkit-gradient(linear,100% 0,0 0,from(transparent),to(transparent),color-stop(50%,#00aeef)) 100% 1;
    
}
.item1 > div > span:nth-child(2){
    margin-left: 3%;
    padding: 0 5px;
    background-color: #12191f;
}
.item2{
    background-color: #12191F;
    padding: 10px 0px;
}
.item3{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.item3 > div {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #00cb91;
}
.item3 > div > div:nth-child(2){
    flex: 6;
}
.item3 > div > div:nth-child(1), .item3 > div > div:nth-child(3) {
    flex: 1;
}
.item3 > div > div:nth-child(3){
    flex: 2;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item3 > div > div:nth-child(3) > div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item3 > div > div:nth-child(3) > div:nth-child(1) {
    color: #00aeef;
}
.item5-title-top{
    background: #006498;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
.item5-titles{
    display: flex;
    flex-direction: row;
}
.item5-titles > div{
    border: 1px solid transparent;
    margin: 0px 1px;
    line-height: 30px;
    background-color: #12191f;
    transition: 0.3s ease-in-out;
}
.item5-titles > div:hover{
    border: 1px solid #00aeef;
    box-shadow: inset 0 0 1px 1px #00aeef;
    cursor: pointer;
}
.item5-titles > div, .item5-titles > div > div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.coef-yellow{
    color: #fffd77;
}
.item5{
    display: flex;
    flex-direction: row;
}
.item5 > div{
    flex: 1;
    /* height: 300px; */
}
.item5 > div:nth-child(1) {
    height: 160px;
    background-image: url(https://lh3.googleusercontent.com/-OAv6ce0Aug8/W8YLVdr0eZI/AAAAAAAAECg/GlC0MXYM3AI5GMFhWD3TFZk8Mp3BEgNWwCLcBGAs/w530-h265-n-rw/carp%2Bgiants.jpg)
}
.item5-item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #255980;
    font-size: 14px;
}
.item5-item1 > div{
    padding: 2px 10px;
}
.item5-item2{
    background-color: #12191F;
    padding: 2px 10px;
}
.item5-item2 > div{
    margin:  12px 0px;
}
.more-markets{
    color: #00aeef;
    cursor: pointer;
}
.money-line{
    background-color: #19222b;
    padding: 5px;
}

/* Version styling */
@media (max-width: 568px) {
    .item5 > div:nth-child(1) {
        display: none;
    }
    
    .item5-item2 > div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item5-item2 > div:nth-child(2){
        display: inline-block;
    }
    .more-markets{
        display: inline-block;
        float: right;
    }
}