.sorting-line{
    padding-right: 70px;
    border-bottom: none;
}
.sorting-line:nth-child(3){
    background-color: #004BA8;
    color: white;
    display: flex;
    justify-content: space-between
}
.zkqqasdz{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.zkqqasdz > div{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    color: gray;
    justify-content: center;
    align-items: center;
}
.zkqqasdz > div:nth-child(1) {
    color: white;
}
.dropdowns > button:nth-child(1) {
    color: gray;
}
.dropdowns{
    color: white;
}
.srt-holder{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
}

/* left-content */
.left-content{
    width: 10%;
    background-color: #585858;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.left-content > div.left-activeza{
    background-color: #727171;
}
.left-content > div{
    background-color: #3F3E3E;
    line-height: 30px;
    padding: 3px 10px;
    transition: 0.2s ease-in-out;
}
.left-content > div:hover{
    background-color: #727171;
    cursor: pointer;
}
.zqalk{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* mid content styling */
.mid-content{
    width: 68%;
    background-color: #727171;
}
.zqaok{
    display: flex;
    flex-direction: row;
}
.zqaok > div:nth-child(1){
    flex: 2;
}
.zqaok > div:nth-child(2) {
    flex: 1;
}
.left-zajq{
    display: flex;
    flex-direction: column;
}
.redtitle{
    background-color: #D91C16;
    line-height: 35px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.redtitle, .tresoa, .lpoil{
    border: 1px solid #585858;

}
.zq > span{
    font-size: 16px;
    padding: 8px;
    margin: 0px 3px;
    background-color: #97140F;
    opacity: 0.5;
}
.tresoa{
    display: flex;
    flex-direction: row;
}
.tresoa > iframe{
    border: 4px solid #3F3E3E;
    flex: 1;
    width: 1%;
    height: 100px;
}
.tresoa2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: #004BA8;
    color: white;
    font-weight: bold;
    line-height: 32px;
    margin-top: 20px;
}
.lpoil{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    background-color: #737272;
}

.lozla{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center; 
    flex: 1;
    line-height: 35px;
}
.lozla > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    font-weight: bold;
}
.palzk > div{
    margin: 0 2px;
    background-color: #3F3E3E;
    color: #fffd77;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
}
.palzk > div:hover{
    background-color: #727171;
    border: 2px solid #8B8B8B;
    cursor: pointer;
}
.okalo{
    display: flex;
    flex-direction: row;
    padding: 2px;
}
.okqiwk{
    background-color: #8B8B8B;
}


/* Mid right content styling */
.zkoqikas{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.zaza1{
    padding: 0px 10px;
    line-height: 30px;
    background-color: #004BA8;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.itm3{
    background-image: url(https://virtual.golden-race.net/desktop-v3/default/dogs.c83743fd2edb82fe41ec.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-bottom: 25px solid black;
}
.itm3 > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itm3 > div:nth-child(1) > span {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 50px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
}
.itm3 > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,.7);
    color: white;
    padding: 20px 5px;
    margin-top: 10px;
}
.itm3 > div:nth-child(2) > div{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.itm3 > div:nth-child(2) > div > span{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 30px;
}
.okiiqwkj{
    display: flex;
    flex-direction: row;
}
.okiiqwkj > div{
    flex: 1;
}
.okiiqwkj > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zoljqye{
    padding: 3px 15px;
    margin: 10px 10px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center; 
    color: white;
}
.titlas{
    line-height: 30px;
    color: white;
    background-color: #004BA8;
    display: flex;
    flex-direction: row;
}
.titlas > div, .blazk > div{
    flex: 1;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.titlas > div:nth-child(2), .blazk > div:nth-child(2){
    flex: 5;
}
.blazk{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #004BA8;
}
.asddasd{
    background-color: #003475;
}
.zxcaqwe{
    background-color: #001D42;
}
.blazk > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blazk > div:nth-child(2) {
    justify-content: flex-start;
}
