html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #19222b;
	position: relative;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    background-color: #0D0F10;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* scrolbar settings */
::-webkit-scrollbar {
    width: 5px;
}
/* scrollbar track and color */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(154, 226, 0); 
    border-radius: 20px;
}
/* scrollbar background and border */
::-webkit-scrollbar-thumb {
    background-color: rgb(154, 226, 0);
    border-radius: 10px;
}


/* Logo image on left side */
.logo{
    width: 20%;
    align-self: flex-start
}


/* Dropdown buttons styling*/
.menu-holder{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.dropdown-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-dropdown{
    background-color: #0e2a2c;
    color: white;
    border: none;
    border-radius: 6px;
}
div.btn-group > button > div{
    border-radius: 6px;
    color: #029372;
    background-color: #0d3735;
    display: inline-block;
    padding: 10px 10px;
    
}
div.btn-group > button:hover{
    transition: 0.5s ease-in-out;
    color: #9ae200;
}
div.btn-group > button {
    padding: 0;
    padding-right: 10px;
    margin-left: 5px;
}
.dropdown-menu{
    background-color: #111618;
}
.dropdown-menu > li > a{
    color:#9299a0;
    transition: 0.5s ease-in-out;
}
.dropdown-menu > li > a:hover{
    color: white;
    background-color: #9ae200;
}


/* Social buttons styling */
a.social:nth-child(1){
    margin-left: 5px;
    padding: 5px 5px;
}
a.social:nth-child(2){
    padding: 5px 10px;
}
a.social{
    width: 38px;
    height: 38px;
    background-color:#0d3735;
    color: #029372;
    font-size: 35px;
    border-radius: 6px;
    transition: 0.5s ease-in-out;
}
a.social:hover{
    text-decoration: none;
    color: #9ae200!important;
}


/* Menu navigation links styling*/
div.navigation-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.navigation-buttons > nav{
    margin-top: 15px;
    padding: 30px 25px;
    background-color: transparent;
    overflow: hidden;
}
a.selected{
    color: #9ae200;
    border-top: 3px solid #9ae200;
    text-decoration: none;
    background-color: rgba(152,225,25,.16); 
    box-shadow: 0 0 100px 45px rgba(152,225,25,.16)
}
div.navigation-buttons > nav > a{
    padding: 0px 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
div.navigation-buttons > nav > a:hover{
    color: #9ae200;
    border-top: 3px solid #9ae200;
    text-decoration: none;
    background-color: rgba(152,225,25,.16);
    box-shadow: 0 0 100px 45px rgba(152,225,25,.16)
}


/* User login, password input styling */
.user{
    width: 20%;
}
div.user > form {
    display: flex;
    flex-direction: column;
}
div.user > form > div{
    display: flex;
}
div.user > form > input:nth-child(3){
    background-color: #9ae200;
    color: white;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
div.user > form > div > a:nth-child(1){
    width: 50%;
    text-align: left;
}
div.user > form > div > a:nth-child(2){
    width: 50%;
    text-align: right;
}
div.user > form > div > a{
    margin-top: 10px;
    color: #9ae200;
    font-size: 10px;
}
.inputs{
    border-radius: 5px;
    background-color: #1e1d1f;
    height: 30px;
    border: none;
    padding: 0px 15px;
    margin-bottom: 5px;
}

/* Left content styling */
.left-content{
    margin-left: 0.3%;
    width: 15%;
    background-color: #111618;
    height: 78vh;
    overflow-y: scroll;
    padding: 2px 3px;
}
.left-content-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #9ae200;
    border: 1px solid #98e119;
    box-shadow: 0px 0px 10px #98e119;
    text-shadow: 1px 0 50px #98e119;
    font-weight: bold;
    width: 100%;
    height: 40px;
    background: #0d3231;
    transition: all .3s ease;
    height: 116px;
}
div.left-content > a >div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
    height: 40px;
    transition: all .3s ease;
    height: 116px;
}
div.left-content > a >img{
    padding: 36px 45px;
}
div.left-content > a{
    margin-bottom: 2px;
}
div.left-content > a:hover{
    text-decoration: none;
}
div.left-content > a > div:hover, div.left-content > a > img:hover{
    transition: all 0.2s ease-in-out;
    color: #9ae200;
    border: 1px solid #98e119;
    box-shadow: 0px 0px 10px #98e119;
    text-shadow: 1px 0 50px #98e119;
    background-color: #0d3231;
}

/* Mid content styling */
.mid-content{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 400px;
    background-color: #111618;
}

.video-holder{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    flex-wrap:wrap;
    width: 50%;
    height: 200px;
    background: #0d3231;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #0d0f10;
}
.title{
    flex: 0 0 100%;
    flex-direction: column;
    color: #9ae200;
    padding: 7px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #0d0f10;
    font-size: 13px;
}
.slideshow{
    width: 50%;
    height: 200px;
    background-color: gray;
    margin-left: 5px;
}
.video{
    margin-left: 5px;
    align-self: flex-start;
    flex-direction: row;
    width: 58%;
    min-height: 150px;
}
.match-result{
    align-self: flex-start;
    flex-direction: row;
    width: 40%;
    min-height: 150px;
}
div.match-result > div:nth-child(1){
    margin-left: 10px;
    color: white;
    flex-direction: row;
    border-bottom: 1px solid black;
}
div.match-result > div:nth-child(2){
    flex-grow: row;
    color: white;
    margin-left: 10px;
}
div.match-result > div:nth-child(3){
    margin-left: 10px;
    background-color: #111618;
    width: 102%;
}
div.match-result > div:nth-child(3) > div > span:nth-child(1){
    display: inline-block;
    text-align: right;
    color: red;
}
div.match-result > div:nth-child(3) > div > span:nth-child(2){
    color: yellow;
}